/*
Color Names

```stylus
// Sample Code
@import '../../stylus/_settings'
.example1
  color: $colors.primaryBlue


// Yielding the following CSS
.example1 {
  color: #007FF5;
}
```

primaryBlack - #333
primaryBlackDarken5 - #000
primaryBlue - #007FF5
primaryBlueDarken1 - #006ACC
primaryBlueLighten4 - #CFDDF5
primaryBlueLighten5 - #EBF0F5
gray - #666
grayDarken3 - #3D3D3D
grayDarken5 - #000
lightGray - #CCC
lightGrayLighten2 - #E0E0E0
red - #E02D2D
redDarken2 - #B82525
white - #FFFFFF
whiteDarken1 - #F5F5F5

Styleguide 1.1
*/
$colors := {
  primaryBlack: #333,
  primaryBlackDarken5: #000,

  primaryBlue: #007FF5,
  primaryBlueDarken1: #006ACC,
  primaryBlueLighten4: #CFDDF5,
  primaryBlueLighten5: #EBF0F5,

  gray: #666,
  grayDarken3: #3D3D3D
  grayDarken5: #000

  lightGray: #CCC,
  lightGrayLighten2: #E0E0E0,

  red: #E02D2D,
  redDarken2: #B82525,

  white: #FFFFFF,
  whiteDarken1: #F5F5F5,
}
