$fontFamilyBody = 'Noto Sans CJK JP', sans-serif
$fontFamilyMdl2 = 'Segoe MDL2 Assets', 'ErnieMDL2Assets'

$sizes := {
  windowMarginTop: 20px,
}

$views := {
  main: {
    teamColumnWidth: 68px,
    projectColumnWidth: 200px,
    subColumnWidth: 30vw,
    fullMainColumnAnimeDuration: 0.3s
    fullMainColumnAnimeTiming: ease
  }
}
