.teamColumn{
  max-height: 100vh;
  overflow-y: auto;
  &_nav{
    margin-top: 40px;
    a{
      display: block;
      width: 36px;
      height: 36px;
      background: rgba(255, 255, 255, 0.16);
      border-radius: 8px;
      margin: 0 auto 16px;
      transition: 0.5s;
      &:hover{
        background: $colors.lightGray
      }
      &.active{
        background: $colors.lightGray
      }
      &.teamColumn_add{
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        background: transparent;
        fill: #fff;
        border: 1px solid rgba(255,255,255,0.24);
        &:hover{
          fill: #1F081F;
          background: $colors.lightGray
        }
      }
    }
  }
}
