$body-font-family := 'Noto Sans CJK JP', sans-serif

/*
Color Name

primaryBlack - #333333
primaryBlue - #007FF5
primaryBlueDark - #0074E0
gray - #6C6C6C
grayDark - #5C5C5C

Styleguide 1.1
*/
$colors := {
  primaryBlack: #333333,
  primaryBlue: #007FF5,
  primaryBlueDark: #0074E0,
  gray: #6C6C6C
  grayDark: #5C5C5C
}
