$body-font-family := 'Noto Sans CJK JP', sans-serif
$mdl2-font-family := 'Segoe MDL2 Assets', 'ErnieMDL2Assets'

/*
Color Names

```stylus
// Sample Code
@import '../../stylus/_fixed/base/_variable.styl'
.example1
  color: $colors.primaryBlue


// Yielding the following CSS
.example1 {
  color: #007FF5;
}
```

primaryBlack - #333
primaryBlue - #007FF5
primaryBlueDarken1 - #0074E0
primaryBlueLighten4 - #CFDDF5
primaryBlueLighten5 - #EBF0F5
gray - #666
grayDarken5 - #000
lightGray - #C4C4C4
lightGrayLighten2 - #EDEDED
white - #FFFFFF
whiteDarken1 - #F5F5F5

Styleguide 1.1
*/
$colors := {
  primaryBlack: #333,

  primaryBlue: #007FF5,
  primaryBlueDarken1: #0074E0,
  primaryBlueLighten4: #CFDDF5,
  primaryBlueLighten5: #EBF0F5,

  gray: #666,
  grayDarken5: #000

  lightGray: #C4C4C4,
  lightGrayLighten2: #EDEDED,
  white: #FFFFFF,
  whiteDarken1: #F5F5F5,
}
