.home
  .mainColumn
    &.fullMainColumn
      grid-column: 2 / 5

.dashboardWrap
  &_list
    &_menu
      display: flex
      flex-wrap: nowrap
      margin-left: 12px
      >dd
        margin-left: 14px
        float: none
        flex-shrink: 1
        svg
          path
            themeFill('icon')
          &:hover
            path
              themeFill('iconDarken1')
