.home
  .mainColumn
    &.fullMainColumn
      grid-column: 2 / 5

.dashboardWrap
  &_list
    &_menu
      display: flex
      flex-wrap: nowrap
      margin-left: 12px
      >dd
        margin-left: 14px
        float: none
        flex-shrink: 1
        svg
          path
            fill: $colors.gray
          &:hover
            path
              fill: $colors.grayDarken1
