.noteEditWrap_post
  &_view
    float: left
  &_edit
    float: left
    textarea
      background: transparent
      border: none
      outline: none
      font-size: 14px
      margin: 0
      resize: none
  &.hideEditor
    .noteEditWrap_post_view
      float: none
      width: auto