.modalWrap{
  *{
    box-sizing: border-box;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #aaa;
  position: relative;
}
.searchResult{
  width: 100%;
  max-width: 970px;
  max-height: 770px;
  background: #fff;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow-y: scroll;
  position: relative;
  h2{
    width: 100%;
    padding: 20px 30px;
    font-family: $fontFamilyBody;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
  }
  &_close{
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 26px;
    right: 26px;
  }
  &_tab{
    margin-left: 32px;
    position: relative;
    top: 1px;
    left: 0;
    dd{
      padding: 8px 20px 6px 20px;
      margin-right: 1px;
      float: left;
      background: #FFFFFF;
      cursor: pointer;
      box-shadow: 0px -1px 0px rgba(0, 0, 0, 0), -1px 0px 0px rgba(0, 0, 0, 0), 1px 0px 0px rgba(0, 0, 0, 0);
      border-bottom: 1px solid $colors.lightGray
      border-radius: 8px 8px 0px 0px;
      &.active{
        background: #FAFAFC;
        border-bottom: 1px solid transparent;
        box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2), -1px 0px 0px rgba(0, 0, 0, 0.2), 1px 0px 0px rgba(0, 0, 0, 0.2);
      }
    }
  }
  &_column{
    padding: 20px 32px;
    background: #FAFAFC;
    border: 1px solid $colors.lightGray
    h3{
      margin-bottom: 20px;
      font-family: $fontFamilyBody;
      font-weight: 700;
      color: rgba(51, 51, 51, 0.72);
      font-size: 14px;
      line-height: 14px;
    }
    &_main{
      float: left;
      width: 66%;
      // タスク
      &_task{
        &_list{
          dd{
            padding: 15px 15px 10px 15px;
            margin-top: 8px;
            background: #FFFFFF;
            border: 1px solid $colors.lightGray
            border-radius: 4px;
            &:first-child{
              margin-top: 0;
            }
            h4{
              font-family: $fontFamilyBody;
              font-weight: 400;
              font-size: 12px;
              line-height: 12px;
            }
          }
          &_meta{
            margin-top: 15px;
            &_img,h5,&_cat{
              float: left;
            }
            &_img{
              margin-right: 8px;
            }
            h5{
              margin-right 17px;
              font-family: $fontFamilyBody;
              font-weight: 400;
              color: #333;
              font-size: 14px;
              line-height: 22px;
            }
            &_cat{
              display: block;
              width: 60px;
              height: 26px;
              padding: 6px;
              margin-top: -1px;
              border-radius: 13px;
              font-family: $fontFamilyBody;
              font-weight: 400;
              font-size: 12px;
              color: #FFFFFF;
              line-height: 1;
              text-align: center;
              &.green{
                themeBackgroundColor('accent')
              }
              &.yellow{
                background: #D1BA19;
              }
              &.blue{
                background: #1E91D6;
              }
              &.red{
                background: #DE6868;
              }
              &.gray{
                background: rgba(51, 51, 51, 0.72);
              }
            }
          }
        }
      }
      // ファイル
      &_file{
        &_list{
          dd{
            padding: 15px 15px 10px 15px;
            margin-top: 8px;
            background: #FFFFFF;
            border: 1px solid $colors.lightGray
            border-radius: 4px;
            &:first-child{
              margin-top: 0;
            }
            &.active{
              border: 1px solid;
              themeBorderColor('accent')
            }
            h4{
              font-family: $fontFamilyBody;
              font-weight: 400;
              font-size: 12px;
              line-height: 12px;
            }
          }
          &_meta{
            &_img,&_text{
              float: left;
            }
            &_img{
              width: 55px;
              padding-right: 8px;
            }
            &_text{
              width: calc(100% - 55px);
              h5{
                font-family: $fontFamilyBody;
                font-weight: 700;
                color: #333;
                font-size: 12px;
                line-height: 18px;
              }
              p{
                margin-top: 10px;
                font-family: $fontFamilyBody;
                font-size: 12px;
                line-height: 12px;
                color: rgba(51, 51, 51, 0.72);
                span{
                  display: inline-block;
                  margin-right: 8px;
                }
              }
            }
          }
        }
      }
      // ノート
      &_note{
        &_list{
          dd{
            padding: 15px 15px 10px 15px;
            margin-top: 8px;
            background: #FFFFFF;
            border: 1px solid $colors.lightGray
            border-radius: 4px;
            &:first-child{
              margin-top: 0;
            }
            &.active{
              border: 1px solid;
              themeBorderColor('accent')
            }
            h4{
              font-family: $fontFamilyBody;
              font-weight: 400;
              font-size: 12px;
              line-height: 12px;
            }
          }
          &_meta{
            margin-top: 15px;
            &_img,h5,&_cat,&_text{
              float: left;
            }
            &_img{
              margin-right: 8px;
            }
            h5{
              margin-right 17px;
              font-family: $fontFamilyBody;
              font-weight: 400;
              color: #333;
              font-size: 14px;
              line-height: 22px;
            }
            &_cat{
              display: block;
              width: 60px;
              height: 26px;
              padding: 6px;
              margin-top: -1px;
              border-radius: 13px;
              font-family: $fontFamilyBody;
              font-weight: 400;
              font-size: 12px;
              color: #FFFFFF;
              line-height: 1;
              text-align: center;
              &.green{
                themeBackgroundColor('accent')
              }
              &.yellow{
                background: #D1BA19;
              }
              &.blue{
                background: #1E91D6;
              }
              &.red{
                background: #DE6868;
              }
              &.gray{
                background: rgba(51, 51, 51, 0.72);
              }
            }
            &_text{
              width: 100%;
              margin-top: 13px;
              font-family: $fontFamilyBody;
              color: rgba(51, 51, 51, 0.72);
              font-size: 14px;
              line-height: 22px;
            }
          }
        }
      }
    }
    &_sub{
      float: left;
      width: 31%;
      margin-left: 3%;
      h4{
        height: 14px;
        font-family: $fontFamilyBody;
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
        color: rgba(51, 51, 51, 0.72);
        position: relative;
        span{
          display: inline-block;
          padding-right: 10px;
          background: #fafafc;
          position: relative;
          z-index: 2;
        }
        &:before{
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background: $colors.lightGray
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          margin: auto;
        }
      }
      &_box{
        margin-top: 32px;
        &:first-child{
          margin-top: 20px;
        }
        &_checkBox{
          margin-top: 13px;
          li{
            margin-top: 20px;
            font-family: $fontFamilyBody;
            font-size: 12px;
            color: #333;
            &:first-child{
              margin-top: 0;
            }
            input[type=checkbox]{
              display: none;
            }
            label{
              display: block;
              width: 100%;
              height: 14px;
              position: relative;
              &:before,&:after{
                content: "";
                display: block;
                width: 14px;
                height: 14px;
                position: absolute;
              }
              &:before{
                border: 1px solid $colors.lightGray
                border-radius: 4px;
                top: 0;
                right: 0;
              }
              &:after{
                position: absolute;
                top: 2px;
                right: 5px;
                display: block;
                width: 3px;
                height: 9px;
                border-right: 2px solid #de6868;
                border-bottom: 2px solid #de6868;
                content: '';
                opacity: 0;
                transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
              }
            }
            input[type=checkbox]:checked + label:after{
              opacity: 1;
            }
          }
        }
        &_more{
          display: inline-block;
          margin-top: 20px;
          cursor: pointer;
          font-family: $fontFamilyBody;
          font-size: 12px;
          themeColor('accent')
        }
      }
    }
  }
}
