.modalWrap{
  *{
    box-sizing: border-box;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #aaa;
  position: relative;
}
.setting{
  width: 100%;
  max-width: 970px;
  max-height: 770px;
  background: #fff;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  position: relative;
  h2{
    width: 100%;
    padding: 20px 30px;
    font-family: Noto Sans CJK JP;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
  }
  &_close{
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 26px;
    right: 26px;
  }
  &_tab{
    margin-left: 32px;
    position: relative;
    top: 1px;
    left: 0;
    dd{
      padding: 8px 20px 6px 20px;
      margin-right: 1px;
      float: left;
      background: #FFFFFF;
      cursor: pointer;
      box-shadow: 0px -1px 0px rgba(0, 0, 0, 0), -1px 0px 0px rgba(0, 0, 0, 0), 1px 0px 0px rgba(0, 0, 0, 0);
      border-bottom: 1px solid $colors.lightGray
      border-radius: 8px 8px 0px 0px;
      &.active{
        background: #FAFAFC;
        border-bottom: 1px solid transparent;
        box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2), -1px 0px 0px rgba(0, 0, 0, 0.2), 1px 0px 0px rgba(0, 0, 0, 0.2);
      }
    }
  }
  // ステータス編集
  &_status{
    padding: 20px 32px 32px 32px;
    background: #FAFAFC;
    border: 1px solid $colors.lightGray
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow-y: auto;
    h3{
      margin-bottom: 20px;
      font-family: Noto Sans CJK JP;
      font-weight: 700;
      color: rgba(51, 51, 51, 0.72);
      font-size: 14px;
      line-height: 14px;
    }
    &_sub{
      float: left;
      width: 230px;
      &_box{
        margin-top: 20px;
        &:first-child{
          margin-top: 20px;
        }
        &_list{
          min-height: 220px;
          padding-right: 31px;
          margin-left: 15px;
          border-right: 1px solid $colors.lightGray
          position: relative;
          top: 6px;
          left: 0;
          li{
            height: 35px;
            margin-top: 12px;
            &:first-child{
              margin-top: 0;
            }
            &.disabled{
              opacity: 0.5;
              svg{
                cursor: auto;
              }
            }
          }
          &_button{
            height: 35px;
            overflow: hidden;
            padding: 6px 16px;
            margin-left: 5px;
            background: #fff;
            border: 1px solid $colors.lightGray
            border-radius: 4px;
            position: relative;
            top: -6px;
            left: 0;
            p{
              float: left;
              font-family: Noto Sans CJK JP;
              font-size: 14px;
              line-height: 1.3;
            }
            svg{
              float:right;
              cursor: pointer;
            }
          }
        }
      }
    }
    &_main{
      float: left;
      width: calc(100% - 230px);
      &_box{
        margin-top: 20px;
        &:first-child{
          margin-top: 20px;
        }
        h3{
          padding-left: 35px;
        }
        &_list{
          min-height: 220px;
          padding-left: 31px;
          border-left: 1px solid $colors.lightGray
          list-style: none;
          position: relative;
          top: 0;
          left: -1px;
          li{
            display: inline-block;
            width: 180px;
            height: 35px;
            margin-top: 7px;
            &.disabled{
              opacity: 0.5;
              svg{
                cursor: auto;
              }
            }
            &.add{
              .setting_column_main_box_list_button{
                cursor: pointer;
                opacity: 1;
                transition: opacity 0.3s ease;
                &:hover{
                  opacity: 0.5;
                }
              }
              p{
                themeColor('active')
              }
            }
          }
          &_button{
            height: 35px;
            overflow: hidden;
            padding: 6px 16px;
            margin-left: 5px;
            background: #fff;
            border: 1px solid $colors.lightGray
            border-radius: 4px;
            position: relative;
            top: -6px;
            left: 0;
            p{
              float: left;
              font-family: Noto Sans CJK JP;
              font-size: 14px;
              line-height: 1.3;
            }
            svg{
              float:right;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  // メンバー招待
  &_member{
    padding: 40px 32px 32px 32px;
    background: #FAFAFC;
    border: 1px solid $colors.lightGray
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow-y: auto;
    h3{
      margin-bottom: 12px;
      font-family: Noto Sans CJK JP;
      font-weight: 700;
      color: rgba(51, 51, 51, 0.72);
      font-size: 14px;
      line-height: 14px;
    }
    &_link{
      padding: 10px 15px;
      background: #fff;
      border: 1px solid $colors.lightGray
      border-radius: 4px;
      themeColor('active')
    }
    &_table{
      margin-top: 24px;
      table{
        width: 100%;
        table-layout: fixed;
        tr{
          td{
            vertical-align: top;
            padding: 6px;
            width: 20%;
            &:last-child{
              width: 40%;
              padding-right: 0;
            }

            &:first-child{
              padding-left: 0;
            }
          }
          &:last-child{
            td{
              &:last-child{
                input[type=text]{
                  width: 100%;
                }
              }
            }
          }
        }
      }
      &_email,&_name,&_select,&_search,&_tag{
        width: 100%;
        height: 52px;
        padding: 15px;
        background: #fff;
        border: 1px solid $colors.lightGray
        border-radius: 4px;
        font-family: Noto Sans CJK JP;
        font-size: 14px;
      }
      &_search{
        padding-right: 45px;
        background: url('~@/assets/images/icn/modal-setting-search.svg') no-repeat center right 15px, #fff;
      }
      &_tag{
        padding: 10px 15px;
        position: relative;
        &_container{
          span{
            float: left;
            display: block;
            padding: 6px 30px 6px 12px;
            margin-right: 6px;
            background: #FAECC3;
            border-radius: 4px;
            position: relative;
            &:after{
              content: "";
              display: block;
              width: 8px;
              height: 8px;
              background: url('~@/assets/images/icn/modal-setting-tag-close.svg') no-repeat top left;
              position: absolute;
              top: 0;
              right: 10px;
              bottom: 0;
              margin: auto;
            }
          }
          input[type=text]{
            float: left;
            width: calc(100% - 195px);
            padding: 5px;
            background: #fff;
            border: none;
            outline: none;
            font-family: Noto Sans CJK JP;
            font-size: 14px;
            color: rgba(51, 51, 51, 0.72);
          }
        }
      }
      &_submit{
        margin-top: 28px;
        button{
          display: block;
          width: 172px;
          padding: 8px;
          themeBackgroundColor('active')
          border: none;
          border-radius: 90px;
          cursor: pointer;
          outline: none;
          font-family: Noto Sans CJK JP;
          font-size: 14px;
          color: #fff;
        }
      }
    }
  }
  // 基本設定
  &_general{
    padding: 40px 32px 32px 32px;
    background: #FAFAFC;
    border: 1px solid $colors.lightGray
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow-y: auto;
    h3{
      margin-top: 50px;
      font-family: Noto Sans CJK JP;
      font-weight: 700;
      color: rgba(51, 51, 51, 0.72);
      font-size: 14px;
      line-height: 14px;
      &:first-child{
        margin-top: 0;
      }
    }
    &_container{
      margin-top: 12px;
    }
    &_input{
      float: left;
      width: calc(100% - 210px);
      padding: 10px 15px;
      background: #fff;
      border: 1px solid $colors.lightGray
      border-radius: 4px;
      input[type=text]{
        width: calc(100% - 250px);
        border: none;
        outline: none;
        font-family: Noto Sans CJK JP;
        font-size: 14px;
        &::placeholder{
          color: rgba(51, 51, 51, 0.72);
        }
      }
      p{
        float: right;
        font-family: Noto Sans CJK JP;
        font-weight: 700;
        font-size: 14px;
        themeColor('active')
      }
    }
    &_submit{
      float: left;
      button{
        display: block;
        width: 192px;
        padding: 12px;
        margin-left: 16px;
        background: $colors.lightGray
        border: none;
        border-radius: 90px;
        cursor: pointer;
        outline: none;
        font-family: Noto Sans CJK JP;
        font-size: 14px;
        color: #fff;
      }
    }
  }
}
