.joinWrap{
  *{
    box-sizing: border-box;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #aaa;
  position: relative;
}
.join{
  max-width: 960px;
  max-height: 450px;
  padding: 45px 40px;
  background: #fff;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow-y auto;
  &_container{
    h2{
      font-family: Noto Sans CJK JP;
      font-size: 22px;
      line-height: normal;
      color: #333333;
    }
    table{
      width: 100%;
      table-layout: fixed;
      tr{
        th{
          width: 3%;
          svg{
            cursor: pointer;
          }
        }
        td{
          padding-top: 0;
          width: 20%;
          padding-left: 2%;
          &:first-child{
            padding-left: 0;
          }
          &:last-child{
            width: 17%;
          }
          input[type=text], select, option{
            width: 100%;
            padding: 15px;
            background: #fff;
            font-size: 14px;
            color: #333;
            border: 1px solid $colors.lightGray
            box-sizing: border-box;
            border-radius: 4px;
            font-weight: 700;
          }
          input[type=text]{
            font-weight: 700;
          }
          input[type=text]::placeholder{
            color: $colors.lightGray
          }
          .select{
            position: relative;
            &:after {
              content: '▼';
              display: block;
              width: 15px;
              height: 20px;
              border: 0px;
              font-size: 15px;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 5px;
              margin: auto;
              select {
                appearance: none;
                width: 100%;
                height: 40px;
                background: transparent;
                position: relative;
                z-index: 1;
                padding: 0 40px 0 10px;
                border: 1px solid #b4b3b3;
                border-radius: 2px;
                &::-ms-expand {
                  display: none;
                }
              }
            }
          }
          .button{
            button{
              display: block;
              width: 100%;
              height: 40px;
              margin: 36px auto 0 auto;
              themeBackgroundColor('active')
              border: none;
              border-radius: 90px;
              cursor: pointer;
              font-family: Noto Sans CJK JP;
              font-size: 14px;
              text-align: center;
              color: #FFFFFF;
            }
          }
        }
      }
    }
    &_submit{
      button{
        display: block;
        width: 189px;
        height: 40px;
        margin: 36px auto 0 auto;
        themeBackgroundColor('active')
        border: none;
        border-radius: 90px;
        cursor: pointer;
        font-family: Noto Sans CJK JP;
        font-size: 14px;
        text-align: center;
        color: #FFFFFF;
      }
    }
  }
}
