.option{
  &_spaceProjectsGeneral{
    // 共通ボタン
    &_button{
      display: block;
      min-width: 130px;
      height: 40px;
      padding: 9px;
      background: $colors.primaryBlue
      border: none;
      border-radius: 20px;
      cursor: pointer;
      outline: none;
      color: #FFFFFF;
      font-family: $fontFamilyBody;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      text-align: center;
    }
    &_input{
      margin-top: 25px;
      input[type=text]{
        min-width: 320px;
        padding: 10px 15px;
      }
    }
    &_addButton{
      margin-top: 50px;
      button{
        float: left;
        text-transform: capitalize;
        &:disabled {
          opacity: 0.3;
        }
      }
    }
  }
}
