.option{
  &_spaceMemberAdd{
    max-width: 720px;
    margin: 0 auto;
    // 共通ボタン
    &_button{
      display: block;
      min-width: 160px;
      height: 40px;
      padding: 9px;
      background: $colors.primaryBlue
      border: none;
      border-radius: 20px;
      cursor: pointer;
      outline: none;
      color: #FFFFFF;
      font-family: $fontFamilyBody;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      text-align: center;
    }
    &_title{
      color: #333333;
      font-family: $fontFamilyBody;
      font-size: 24px;
      font-weight: bold;
      line-height: 36px;
    }
    &_input{
      margin-top: 25px;
      padding-bottom: 40px;
      border-bottom: 1px solid #e0e0e0;
      input[type=text]{
        width: 100%;
        height: 60px;
        padding: 15px 25px;
        border: 1px solid $colors.lightGray
        border-radius: 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #333333;
        font-family: $fontFamilyBody;
        font-size: 18px;
        line-height: 27px;
        &::placeholder{
          color: #ccc;
        }
      }
    }
    &_table{
      table{
        width: 100%;
        margin-top: 25px;
        tr{
          th,
          td{
            vertical-align: middle;
            padding: 16px 15px 16px 0;
            border-bottom: 1px solid #E0E0E0;
            text-align: left;
            &:nth-of-type(1){
              width: 55px;
            }
            &:nth-of-type(2){
              width: 300px;
            }
            &:nth-of-type(3){
              width: 175px;
            }
            &:nth-of-type(4){
              width: 180px;
              padding-right: 0;
            }
          }
          th{
            font-family: $fontFamilyBody;
            font-size: 16px;
            font-weight: bold;
            line-height: 24px;
          }
          td{
            .select{
              float: left;
              width: calc(100% - 40px);
            }
            button{
              float: right;
              display: block;
              width: 40px;
              height: 40px;
              background: none;
              border: none;
              cursor: pointer;
              outline: none;
              position: relative;
              &:before,
              &:after{
                content: "";
                display: block;
                width: 15px;
                height: 1px;
                background: $themeColors.icon;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
              }
              &:before{
                top: 20px;
                transform: rotate(315deg);
              }
              &:after{
                top: 20px;
                transform: rotate(-315deg);
              }
              &:hover{
                &:before,
                &:after{
                  background: $themeColors.iconDarken1
                }
              }
            }
          }
        }
      }
      &_img{
        width: 40px;
        height: 40px;
        border-radius: 4px;
        overflow: hidden;
        &.bg{
          &_blue{
            background-color: $colors.primaryBlueDarken1
          }
        }
        p{
          color: #FFFFFF;
          font-family: $fontFamilyBody;
          font-size: 25px;
          font-weight: bold;
          line-height: 37px;
          text-align: center;
        }
      }
    }
    &_addButton{
      margin-top: 40px;
      button {
        float: right;
      }
    }
  }
}
