.columnWrap{
  display: table;
  width: 100vw;
  height: 100vh;
  table-layout: fixed;
  * {
    box-sizing: border-box;
  }
  &_left,&_right{
    display: table-cell;
    width: 50vw;
  }
  &_left{
    vertical-align: top;
    padding: 40px;
    background: #C4C4C4;
    &.signup{
      background: url('~@/assets/images/parts/login-bg-signup.png') no-repeat center center / cover;
    }
    &.login{
      background: url('~@/assets/images/parts/login-bg-login.png') no-repeat center center / cover;
    }
    &.invitation{
      background: url('~@/assets/images/parts/login-bg-invitation.png') no-repeat center center / cover;
    }
    &.error{
      background: url('~@/assets/images/parts/login-bg-error.png') no-repeat center center / cover;
    }
    &.success{
      background: url('~@/assets/images/parts/login-bg-success.png') no-repeat center center / cover;
    }
    &.login,&.success{
      h2{
        color: #333333;
      }
    }
    h2{
      font-family: Noto Sans CJK JP;
      font-weight: 700;
      font-size: 34px;
      color: #FFFFFF;
    }
  }
  &_right{
    vertical-align: middle;
    padding: 40px 100px;
    h3{
      font-family: Noto Sans CJK JP;
      font-size: 34px;
      color: #333333;
      strong{
        themeColor('active')
      }
    }
    &_description{
      margin-top: 25px;
      font-family: Noto Sans CJK JP;
      font-weight: 700;
      font-size: 18px;
      line-height: normal;
      color: #333333;
    }
    &_learn{
      margin-top: 15px;
      a{
        font-family: Noto Sans CJK JP;
        font-size: 14px;
        line-height: 1.57;
        color: #2F80ED;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    &_inputText{
      &_container{
        margin-top: 19px;
        position: relative;
        input{
          width: 100%;
          padding: 18px 15px;
          margin-top: 16px;
          background: #fff;
          border: 1px solid #c4c4c4;
          border-radius: 4px;
          font-family: Noto Sans CJK JP;
          font-size: 14px;
          line-height: 1;
          color: #333333;
          &:first-child{
            margin-top: 0;
          }
          &::placeholder{
            color: rgba(51, 51, 51, 0.72);
          }
        }
        p{
          font-family: Noto Sans CJK JP;
          font-weight: 700;
          font-size: 14px;
          position: absolute;
          top: 18px;
          right: 15px;
        }
        &_blue{
          color: #2F80ED;
        }
        &_red{
          color: #DE6868;
        }
      }
    }
    &_login{
      margin-top: 19px;
      p{
        display: inline-block;
        margin-right: 12px;
        font-family: Noto Sans CJK JP;
        font-size: 14px;
        line-height: 1.57;
        color: #333333;
      }
      a{
        display: inline-block;
        font-family: Noto Sans CJK JP;
        font-size: 14px;
        line-height: 1.57;
        color: #2F80ED;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    &_checkBox{
      margin-top: 16px;
      input {
        &[type=radio], &[type=checkbox] {
          display: none;
        }
      }
      label {
        box-sizing: border-box;
        -webkit-transition: border 0.2s linear;
        transition: border 0.2s linear;
        position: relative;
        display: inline-block;
        margin-bottom: 16px;
        padding: 4px 4px 4px 22px;
        vertical-align: middle;
        cursor: pointer;
        font-family: Noto Sans CJK JP;
        color: #333333;
        font-size: 14px;
        line-height: 1;
        &:first-child{
          margin-top: 0;
        }
        a{
          color: #2F80ED;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }

      label:after {
        -webkit-transition: background 0.2s linear;
        transition: background 0.2s linear;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
        display: block;
        margin-top: -7px;
        width: 16px;
        height: 16px;
        background: #EDEDED;
        border-radius: 4px;
        content: '';
      }

      label:before {
        -webkit-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear;
        position: absolute;
        top: 50%;
        left: 5px;
        z-index: 2;
        display: block;
        margin-top: -6px;
        width: 5px;
        height: 9px;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        content: '';
        opacity: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      input[type=checkbox]:checked + label:before {
        opacity: 1;
      }

      input[type=checkbox]:checked + label:after {
        themeBackgroundColor('active')
      }
    }
  }
}
