.loadingMode{
  .loading_block{
    background: #333333;
    opacity: 0.1;
    height: 12px;
    margin: 20px 20px 0 20px;
    opacity: 0.1;
    border-radius: 8px;
    &_title{
      max-width: 210px;
      height: 15px;
      margin-top: 53px;
      background: #333333;
    }
    &_lg{
      max-width: 100%;
    }
    &_md{
      max-width: 260px;
    }
    &_sm{
      max-width: 180px;
    }
    &_xs{
      max-width: 100px;
    }
  }
  .projectColumn{
    &_head{
      padding-bottom: 20px;
    }
    &_body{
      .loading_block{
        background: #FAFAFC;
      }
    }
  }
  .subColumn{
    &_head{
      display: block;
      padding: 0;
    }
    &_body{
      
    }
  }
}