.spaceWrap{
  display: table;
  table-layout: fixed;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  * {
    box-sizing: border-box;
  }
  h2{
    font-family: Noto Sans CJK JP;
    font-weight: 700;
    font-size: 34px;
    color: #333333;
    position: absolute;
    top: 40px;
    left: 40px;
  }
  &_container{
    display: table-cell;
    vertical-align: middle;
  }
  &_box{
    max-width: 445px;
    margin: 0 auto;
    h3{
      font-family: Noto Sans CJK JP;
      font-size: 34px;
      color: #333333;
      strong{
        themeColor('accent')
      }
    }
    dl{
      height: 260px;
      margin-top: 40px;
      overflow-y: auto;
      dd{
        input[type=radio]{
          display: none;
        }
        label{
          display: block;
          width: 100%;
          padding: 10px 10px 10px 52px;
          background: url('~@/assets/images/parts/space-user.svg') no-repeat center left 20px, #fff;
          transition: all 0.2s ease;
        }
        &:nth-child(odd){
          label{
            background: url('~@/assets/images/parts/space-user.svg') no-repeat center left 20px, #FAFAFC;
          }
        }
        input[type=radio]:checked + label{
          background: url('~@/assets/images/parts/space-user.svg') no-repeat center left 20px, #4F9589;
          color: #fff;
        }
      }
    }
    &_button{
      margin-top: 100px;
      input[type=submit]{
        display: block;
        width: 100%;
        padding: 10px;
        background: #c4c4c4;
        border: none;
        border-radius: 90px;
        outline: none;
        font-family: Noto Sans CJK JP;
        font-size: 14px;
        color: #fff;
        transition: background 0.2s ease;
        &.active{
          themeBackgroundColor('active')
          cursor: pointer;
        }
      }
    }
    &_back{
      margin-top: 40px;
      a{
        font-family: Noto Sans CJK JP;
        font-weight: 700;
        font-size: 14px;
        line-height: 1;
        color: #333333;
        text-decoration: none;
        span{
          display: inline-block;
          margin-left: 5px;
        }
      }
    }
  }
}
