.optionWrap
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 100
  background: #fff

  .option_container
    padding-bottom: 0
    padding-right: 0

    .option_subColumn,
    .option_mainColumn
      padding-bottom: 90px
      height: calc(100vh - 111px)
      overflow-y: auto

    .option_subColumn
      &_title,
      &_button
        margin: 0
        padding: 10px 15px
        &:not(.active):hover
          font-weight: normal
          background-color: #F5F5F5
          border-radius: 4px
          color: #333

    .option_mainColumn
      padding-right: 20px
