//base
@import './base/_reset';
@import './base/_variable';
@import './base/_include';
@import './base/_theme';

//common
@import './common/_common';
@import './common/_layout';

//parts
@import './parts/_page_signup';
@import './parts/_page_login';
@import './parts/_page_space';
@import './parts/_page_loading';
@import './parts/_modal_addMember';
@import './parts/_modal_join';
@import './parts/_modal_searchResult';
@import './parts/_modal_setting';
@import './parts/_modal_assign';
@import './parts/_option_common';
@import './parts/_option_space_member';
@import './parts/_option_space_memberInvite';
@import './parts/_option_space_memberAdd';
@import './parts/_option_space_projectsTask';

//teamColumn
@import './teamColumn/_teamColumn';

//projectColumn
@import './projectColumn/_projectColumn';

//subColumn
@import './subColumn/_subColumn';
@import './subColumn/_task';
@import './subColumn/_file';
@import './subColumn/_note';
@import './subColumn/_chart';

//mainColumn
@import './mainColumn/_mainColumn';
@import './mainColumn/_task';
@import './mainColumn/_filter';
@import './mainColumn/_search';
@import './mainColumn/_noteEdit';
@import './mainColumn/_file';

//kss用設定
@import './mainColumn/_other';