.basicButton
  font-family: $body-font-family
  font-size: 14px
  font-weight: bold
  height: 40px
  line-height: 40px
  min-width: 60px
  box-sizing: border-box
  padding: 0 16px
  border-radius: 20px
  cursor: pointer
  outline: none
  border: none
  text-align: center
  user-select: none
  &.wide
    min-width: 160px
  &:disabled,
  &.disabled
    opacity: 0.3
    cursor: default

.basicButtonPrimary
  @extends .basicButton
  color: #fff
  background-color: #007FF5
  &:hover
    background-color: #0074E0

.basicButtonPrimarySuccess
  @extends .basicButton
  color: #2F80ED
  background-color: #EBF0F5

.basicButtonNormal
  @extends .basicButton
  color: #fff
  background-color: #C4C4C4
  &:hover
    background-color: #ADADAD

.basicButtonDanger
  @extends .basicButton
  color: #fff
  background-color: #E02D2D;
  &:hover
    background-color: #CC2929
