.basicInput
  font-family: $body-font-family
  padding: 10px 15px
  border: 1px solid #c4c4c4
  border-radius: 4px
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  color: #333
  font-size: 16px
  line-height: 24px
  &:focus
    box-shadow: 0 0 0 5px rgba(194,226,242,0.5)
    border: 1px solid #4a90e2
