/*
Basic Input

Markup:
<input class="{{modifier_class}}" value="Input">

.basicInput - BasicInput
.basicInput.disabled - Disabled Option (Same style as :disabled="true")
.basicInput.readonly - Readonly Option (Same style as :readonly="true")

Styleguide 11.5
*/
.basicInput
  font-family: $body-font-family
  padding: 10px 15px
  border: 1px solid $colors.lightGray
  border-radius: 4px
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  color: #333
  font-size: 16px
  line-height: 24px
  &.borderless
    border-color: transparent
    &:hover
      border: 1px solid #4a90e2
  &:focus
    box-shadow: 0 0 0 5px rgba(194,226,242,0.5)
    border: 1px solid #4a90e2
  &:disabled,
  &.disabled
    opacity: 0.3
    cursor: default
    pointer-events: none
  &[readonly],
  &.readonly
    box-shadow: none
    background: $colors.lightGrayLighten2
