/*
Icon Button

Markup:
<button class="{{modifier_class}}">Add Button</button>

.iconButtonPlus - Plus
.iconButtonPlus.disabled - Disabled Option (Same style as :disabled="true")

Styleguide 11.4
*/
.iconButtonPlus
  font-family: $body-font-family
  font-size: 14px
  font-weight: normal
  box-sizing: border-box
  outline: none
  border: none
  color: $colors.primaryBlue
  line-height: 20px
  cursor: pointer
  display: inline-block
  user-select: none
  &:before
    content: '＋'
    width: 20px
    height: 20px
    line-height: 20px
    text-align: center
    font-weight: 200
    border-radius: 50%
    color: #fff
    background: $colors.primaryBlue
    display: inline-block
    margin-right: 8px
    box-sizing: border-box
  &:hover
    color: $colors.primaryBlueDark
    &:before
      background: $colors.primaryBlueDark
  &:disabled,
  &.disabled
    opacity: 0.3
    cursor: default
    pointer-events: none
