.modalDialog
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background: rgba(0,0,0,0.3)
  z-index: 10000
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  &_content
    min-width: 400px
    max-width: 400px
    padding: 30px
    background: #fff
    border-radius: 4px
    font-family: $body-font-family
    font-size: 16px
    line-height: 24px
    &_title
      color: #333
      font-weight: bold
      margin-bottom: 16px
    &_description
      color: #666
    &_footerButtons
      margin-top: 30px
      display: flex
      justify-content: flex-end
      &_button:not(:last-child)
        margin-right: 16px