/*
Modal Dialog

When using this, do not control Style directly, but use MyModel or v-if with <transition> instead.<transition>.

Markup:
<!-- ModalDialog start -->
<div class="modalDialog" style="display:none">
  <div class="modalDialog_content">
    <div class="modalDialog_content_title">Modal Title</div>
    <div class="modalDialog_content_description">Modal Description</div>
    <div class="modalDialog_content_footerButtons">
      <button class="modalDialog_content_footerButtons_button basicButtonPrimary">Button1</button>
      <button class="modalDialog_content_footerButtons_button basicButtonNormal">Button2</button>
    </div>
  </div>
</div>
<!-- ModalDialog end -->
<button onclick="showModalDialog()">Show</button>
<script>
//
// When using this, do not control Style directly, but use MyModel or v-if with <transition> instead.
//
function showModalDialog() {
  document.getElementsByClassName('modalDialog')[0].style.display = null;
}
function closeModalDialog() {
  document.getElementsByClassName('modalDialog')[0].style.display = 'none';
}
document.querySelectorAll('.modalDialog, .modalDialog_content_footerButtons_button').forEach((el) => {
  el.onclick = closeModalDialog;
});
document.querySelectorAll('.modalDialog_content').forEach((el) => {
  el.onclick = (ev) => {
    ev.stopPropagation();
  };
});
</script>

Styleguide 11.7
*/
.modalDialog
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background: rgba(0,0,0,0.3)
  z-index: 10000
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  &_content
    min-width: 400px
    max-width: 400px
    padding: 30px
    background: #fff
    border-radius: 4px
    font-family: $body-font-family
    font-size: 16px
    line-height: 24px
    &_title
      color: #333
      font-weight: bold
      margin-bottom: 16px
    &_description
      color: #666
    &_footerButtons
      margin-top: 30px
      display: flex
      justify-content: flex-end
      &_button:not(:last-child)
        margin-right: 16px
