.tab_file{
  margin-top: 10px;
  overflow-x: auto;
}
.file{
  *{
    box-sizing: border-box;
  }
  &_table{
    width: 100%;
    table-layout: fixed;
    tr{
      background: #FFF;
      color: #333;
      transition: all 0.2s linear;
      &:hover{
        background: #4F9589;
        color: #FFF;
      }
      &:first-child{
        &:hover{
          background: #FFF;
          color: #333;
        }
        td{
          padding: 5px 10px;
          cursor: auto;
        }
      }
    }
    td{
      vertical-align: middle;
      padding: 10px;
      cursor: pointer;
      font-size: 12px;
      text-overflow: ellipsis;
    }
    &_title{
      width: 50%;
      min-width: 214px;
      padding-left: 20px!important;
      &.pdf, &.excel, &.word{
        padding-left: 48px!important;
      }
      // &.pdf{
      //   background: url(../images/subColumn/file_pdf.png) no-repeat center left 18px / 24px 24px;
      // }
      // &.excel{
      //   background: url(../images/subColumn/file_excel.png) no-repeat center left 18px / 24px 24px;
      // }
      // &.word{
      //   background: url(../images/subColumn/file_word.png) no-repeat center left 18px / 24px 24px;
      // }
    }
    &_day{
      width: 23%;
      min-width: 100px;
      text-align: right;
    }
    &_user{
      width: 28%;
      min-width: 126px;
      padding-right: 28px!important;
      text-align: right;
    }
  }
}