.subColumn
  box-sizing: border-box
  background: #FFF
  border-right: 2px solid $colors.lightGrayLighten2
  .columnTitle
    padding: 36px 20px 16px
    min-height: 40px
    display: flex
    justify-content: space-between
    align-items: center
    h2
      display: block
      width: calc(100% - 32px)
      font-size: 18px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
  &_tab
    display: flex
    justify-content: flex-start
    margin-left: 10px
    overflow: hidden
    a
      box-sizing: border-box
      display: block
      color: #999999
      text-decoration: none
      white-space: nowrap
      padding: 0 0 10px
      margin: 0 10px
      &.active
        color: #333333
        border-bottom: 4px solid
        themeBorderColor('active')
      &:hover
        themeColor('active')
