.task
  &_menu
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 20px
    background-color: $colors.whiteDarken1
    border-top: solid 1px $colors.lightGray
    border-bottom: solid 1px $colors.lightGray
    &_favorite
      transition: 0.5s
      display: flex
      fill: $colors.gray
      &:not(.active):hover
        fill: $colors.grayDarken1
      &.active:hover
        fill: #EDA62A
    &_right
      a
        color: #333
        text-decoration: none
        display: inline-block
        min-height: 40px
        line-height: 40px
        margin-left: 17px
      svg
        fill: currentColor
        vertical-align: sub
  &_add
    display: block
    themeColor('active')
    text-decoration: none
    padding: 10px 20px
    svg
      fill: currentColor
      vertical-align: text-top
      margin-right: 4px
  &_item
    box-sizing: border-box
    display: flex
    justify-content: flex-start
    align-items: center
    flex-wrap: nowrap
    width: 100%
    min-height: 40px
    padding: 0 12px 0 0
    background: #FFF
    transition: 0.25s
    &:hover
      background: $colors.whiteDarken1
      .task_item_add
        opacity: 1
        pointer-events: all
    &.active
      background: $colors.lightGray
    &_bar
      display: block
      width: 18px
      height: 40px
      position: relative
      margin-right: 2px
      cursor: grab
      &:before
        content: ''
        display: block
        width: 2px
        height: 20px
        border-radius: 4px
        background: #C4C4C4
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        margin: auto
      &:active
        cursor: grabbing
    &_image
      max-width: 24px
      max-height: 24px
      margin-right: 8px
      img
        vertical-align: middle
    &_name
      flex: 1
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
    &_add
      width: 16px
      height: 16px
      opacity: 0
      transition: 0.25s
      padding: 0
      margin-right: 10px
      margin-left: 4px
      fill: $colors.gray
      &:hover
        fill: $colors.grayDarken1
    &_date
      margin-right: 12px
