body
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-family: $body-font-family
  color: $colors.primary-black

*
  word-wrap: break-word
  word-break: break-word
  overflow-wrap: break-word

button
  outline: none

input::placeholder,
textarea::placeholder
  color: #C4C4C4

select
  cursor: pointer