/*
Typography

.t-hero - Hero
.t-display2 - Display2
.t-display1 - Display1
.t-heading - Heading
.t-title - Title
.t-sub - Sub
.t-body - Body
.t-caption - Caption

Markup:
<p class="{{modifier_class}}">サンプルテキストABCabc123</p>

<<Sample>> Styleguide 1
*/


body {
  -webkit-font-smoothing antialiased;
  -moz-osx-font-smoothing grayscale;
  font-family: $body-font-family;
  color: $colors.primary-black;
}

* {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}