.teamColumn{
  color: #FFF;
  background: #1F081F;
  .color_gray_green &{
    background: #2e2e2e;
  }
  .color_blueGray_green &{
    background: #313444;
  }
}
.projectColumn{
  color: #FFF;
  background: #3E103F;
  .color_gray_green &{
    background: #484848;
  }
  .color_blueGray_green &{
    background: #434659;
  }
}
