.projectColumn{
  box-shadow: 8px 0px 32px rgba(0, 0, 0, 0.05);
  position: relative;
  a{
    color: #FFF;
    text-decoration: none;
  }
  &_head{
    padding: 48px 20px 28px;
    h1{
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding-right: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: auto;
      max-width: calc(100% - 20px);
      &:after{
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: rotate(135deg);
        pointer-events: none;
        position: absolute;
        top: 0;
        right: 3px;
        bottom: 0;
        margin: auto;
      }
    }
  }
  &_add{
    position: relative;
    svg{
      fill: #FFF;
      stroke: #FFF;
      position: absolute;
      top: 12px;
      right: 20px;
    }
  }
  &_body{
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    ul {
      a{
        display: block;
        padding: 8px 20px;
        transition: 0.5s;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &.active{
          font-weight: bold;
          background: #4F9589;
          box-shadow: 8px 0px 32px rgba(0, 0, 0, 0.05);
        }
        &:hover{
          font-weight: bold;
          background: #4F9589;
          box-shadow: 8px 0px 32px rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
  &_foot{
    display: block;
    text-align: center;
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    padding: 8px 20px 8px 10px;
    transition: 0.5s;
    opacity: 0.5;
    &:hover{
      opacity: 1;
    }
    svg{
      vertical-align: sub;
      fill: #FFF;
      margin-right: 4px;
    }
  }
}