.noteEditWrap
  padding: 8px 19px 0 19px
  *
    box-sizing: border-box
  &_list
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom 14px
    &_user
      zoom: 1
      &:after
        content: ""
        clear: both
        display: block
      dd
        float: left
        margin-right: 8px
        position: relative
        &.active
          &:before
            content: ""
            display: block
            width: 36px
            height: 36px
            border: 2px solid
            themeBorderColor('active')
            border-radius: 50%
            position: absolute
            top: -4px
            left: -4px
        &.dots
          padding: 4px 0
    &_menu
      zoom: 1
      &:after
        content: ""
        clear: both
        display: block
      dd
        float: left
        margin-left: 22px
        cursor: pointer
        &:first-child
          margin-left: 0
  &_post
    width: calc(100% + 38px)
    margin-top: 30px
    margin-left: -19px
    zoom: 1
    &:after
      content: ""
      clear: both
      display: block
    &_view,
    &_edit
      float: left
      width: 50%
      height: calc(100vh - 230px)
      padding: 28px 28px 50px 28px
      overflow-y: auto
      *:nth-child(1)
        margin-top: 0
      h1,h2,h3,h4,h5,h6,p,li,dt,dd,th,td,blockquote
        color: #333
        line-height: 1.5
        text-align: left
      h1,h2,h3,h4,h5,h6
        margin: 25px 0 15px 0
        font-weight: 700
      p,li,dt,dd,th,td,blockquote
        font-size: 16px
        line-height: 1.5
      p
        margin: 25px 0 15px 0
        strong
          font-weight: bold
        em
          font-style: italic
        del
          text-decoration: line-through
        a
          color: $colors.primaryBlue
          text-decoration: none
          &:hover
            text-decoration: underline
        code
          display: inline-block
          padding: 2px 5px
          background: $colors.whiteDarken1
          border: 1px solid #e0e0e0
          border-radius: 2px
          font-family: $fontFamilyBody
          color: #E02D2D
          font-size: 14px
          line-height: 1.43
      h1
        font-size: 26px
      h2
        padding-bottom: 10px
        border-bottom: 1px solid #e0e0e0
        font-size: 22px
      h3
        font-size: 20px
      h4
        font-size: 18px
      h5
        font-size: 16px
      h6
        font-size: 15px
      ul,ol
        margin: 25px 0 15px 24px
        li
          margin-top: 8px!important
          ul
            list-style: circle
          ol
            margin-left: 20px
            list-style: lower-latin
      ul
        list-style: disc
      ol
        list-style: decimal
      blockquote
        padding-left: 18px
        margin: 25px 0 15px 0
        border-left: 4px solid #e0e0e0
        p
          padding-left: 18px
          margin-top: 15px!important
          border-left: 4px solid #e0e0e0
      hr
        margin: 40px 0
        border-top: 5px solid #e0e0e0
      pre
        display: block
        margin: 25px 0 15px 0
        white-space: nowrap
        code
          display: inline-block
          padding: 8px 12px
          background: $colors.whiteDarken1
          border: 1px solid #e0e0e0
          border-radius: 2px
          font-family: $fontFamilyBody
          color: #333
          font-size: 14px
          line-height: 1.43
      table
        margin: 25px 0 15px 0
        tr
          th,td
            padding: 12px 16px
            border: 1px solid #e0e0e0
            color: #333
            font-size: 14px
            line-height: 1.43
            word-break: break-all
          th
            background: $colors.whiteDarken1
            font-weight: 700
          td
            background: #fff
            &[align=left]
              text-align: left
            &[align=right]
              text-align: right
            &[align=center]
              text-align: center
    &_edit
      background: #FAFAFC
      border-right: 2px solid $colors.lightGrayLighten2
      box-shadow: inset 0px 0px 8px rgba(51, 51, 51, 0.05)
      textarea
        background: transparent
        border: none
        outline: none
        font-size: 14px
        margin: 0
        resize: none
    &.noEdit
      .noteEditWrap_post_view
        width: 100%
      .noteEditWrap_post_edit
        display: none
    &.hideEditor
      .noteEditWrap_post_view
        float: none
        width: auto
  &_submit
    display: block
    width: 100%
    min-height: 60px
    padding: 9px 20px 24px 20px
    background: #fff
    border-top: 2px solid $colors.lightGrayLighten2
    text-align: center
    display: inline-block
    position: absolute
    bottom: 0
    left: 0
    button
      display: inline-block
      width: 220px
      padding: 10px
      margin: 15px 1.5% 0 1.5%
      border: none
      border-radius: 90px
      cursor: pointer
      font-family: $fontFamilyBody
      font-size: 14px
      line-height: 1
      text-align: center
      &:first-child
        themeBackgroundColor('active')
        color: #fff
      &:nth-child(2)
        background: #E6F0FF
        themeColor('active')
      &:last-child
        width: 180px
        background: #fff
        border: 1px solid $colors.lightGray
        box-sizing: border-box
        color: $colors.lightGray
        svg
          margin-right: 5px
    &.noEdit
      button
        &:last-child
          display: none

.home
  .mainColumn
    &.noSubColumn
      grid-column: 3 / 9
      &.noProjectColumn
        grid-column: 2 / 9
      .noteEditWrap
        &_list
          display: block
          &:nth-of-type(1)
            float: left
            width: calc(100% - 162px)
          &:nth-of-type(2)
            float: right
            width: 162px
            margin-top: 4px
          &_user
            float: left
            margin-right: 40px
            margin-bottom: 10px
        &_status
          float: left
          width: 401px
          margin-top: 0
        &_post
          margin-top: 58px
          @media screen and (max-width: 1132px)
            margin-top: 100px
