.noteEditWrap
  padding: 8px 19px 0 19px
  *
    box-sizing: border-box
  &_list
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom 14px
    &_user
      zoom: 1
      &:after
        content: ""
        clear: both
        display: block
      dd
        float: left
        margin-right: 8px
        position: relative
        &.active
          &:before
            content: ""
            display: block
            width: 36px
            height: 36px
            border: 2px solid $themeColors.active
            border-radius: 50%
            position: absolute
            top: -4px
            left: -4px
        &.dots
          padding: 4px 0
    &_menu
      zoom: 1
      &:after
        content: ""
        clear: both
        display: block
      dd
        float: left
        margin-left: 22px
        cursor: pointer
        &:first-child
          margin-left: 0
  &_post
    width: calc(100% + 38px)
    margin-top: 30px
    margin-left: -19px
    zoom: 1
    &:after
      content: ""
      clear: both
      display: block
    &_edit
      textarea
        padding: 28px 28px 50px 28px
    &_view
      padding: 28px 28px 50px 28px
      overflow-y: auto
    &_view,
    &_edit
      float: left
      width: 50%
      height: 100%
    &_edit
      background: #FAFAFC
      border-right: 1px solid $colors.lightGrayLighten2
      box-shadow: inset 0px 0px 8px rgba(51, 51, 51, 0.05)
      textarea
        background: transparent
        border: none
        outline: none
        font-size: 14px
        margin: 0
        resize: none
    &.noEdit
      .noteEditWrap_post_view
        width: 100%
      .noteEditWrap_post_edit
        display: none
    &.hideEditor
      .noteEditWrap_post_view
        float: none
        width: auto
  &_submit
    display: block
    width: 100%
    min-height: 60px
    padding: 9px 20px 24px 20px
    background: #fff
    border-top: 2px solid $colors.lightGrayLighten2
    text-align: center
    display: inline-block
    position: absolute
    bottom: 0
    left: 0
    button
      display: inline-block
      width: 220px
      padding: 10px
      margin: 15px 1.5% 0 1.5%
      border: none
      border-radius: 90px
      cursor: pointer
      font-family: $fontFamilyBody
      font-size: 14px
      line-height: 1
      text-align: center
      &:first-child
        background-color: $themeColors.active
        color: #fff
      &:nth-child(2)
        background: #E6F0FF
        color: $themeColors.active
      &:last-child
        width: 180px
        background: #fff
        border: 1px solid $colors.lightGray
        box-sizing: border-box
        color: $colors.lightGray
        svg
          margin-right: 5px
    &.noEdit
      button
        &:last-child
          display: none

