.searchWrap
  padding: 36px 20px 16px
  h2
    margin-bottom: 20px
    color: #333
    font-family: $fontFamilyBody
    font-weight: normal
    font-size: 14px
    line-height: 1

  &_tabBox
    display: flex
    justify-content: flex-start
    margin-bottom: 15px
    overflow-x: auto
    li + li
      a
        margin: 0 0 0 -1px
    a
      box-sizing: border-box
      display: inline-block
      color: rgba(51, 51, 51, 0.72)
      text-decoration: none
      padding: 8px 18px
      border: 1px solid transparent
      border-bottom: 1px solid rgba(51, 51, 51, 0.72)
      word-break: keep-all
      &.active
        color: #333
        border: 1px solid rgba(51, 51, 51, 0.72)
        border-bottom: none
        border-radius: 8px 8px 0 0
      &:hover
        color: #333
        border: 1px solid rgba(51, 51, 51, 0.72)
        border-bottom: 1px solid transparent
        border-radius: 8px 8px 0 0

  &_checkBox
    margin-bottom: 35px
    zoom: 1
    &:after
      content: ""
      clear: both
      display: block
    dd
      float: left
      label
        user-select: none
      input
        &[type=radio], &[type=checkbox]
          display: none

      label
        box-sizing: border-box
        -webkit-transition: border 0.2s linear
        transition: border 0.2s linear
        position: relative
        display: inline-block
        margin: 0 8px 8px 0
        padding: 10px 13px 10px 30px
        border-radius: 4px
        border: 1px solid $colors.lightGray
        vertical-align: middle
        cursor: pointer
        font-family: $fontFamilyBody
        color: #333
        font-size: 12px
        line-height: 1

      label:hover
        border: 1px solid #E69A17

      label:after
        -webkit-transition: background 0.2s linear
        transition: background 0.2s linear
        position: absolute
        top: 50%
        left: 8px
        z-index: 1
        display: block
        margin-top: -7px
        width: 16px
        height: 16px
        background: $colors.lightGrayLighten2
        border-radius: 4px
        content: ''

      label:before
        -webkit-transition: opacity 0.2s linear
        transition: opacity 0.2s linear
        position: absolute
        top: 50%
        left: 13px
        z-index: 2
        display: block
        margin-top: -6px
        width: 5px
        height: 9px
        border-right: 1px solid #fff
        border-bottom: 1px solid #fff
        content: ''
        opacity: 0
        -webkit-transform: rotate(45deg)
        -ms-transform: rotate(45deg)
        transform: rotate(45deg)

      input[type=checkbox]:checked + label
        border: 1px solid #E69A17

      input[type=checkbox]:checked + label:before
        opacity: 1

      input[type=checkbox]:checked + label:after
        background: #E69A17

  &_humanBox
    margin-bottom: 35px
    zoom: 1
    &:after
      content: ""
      clear: both
      display: block
    dd
      float: left
      label
        user-select: none
      input
        &[type=radio], &[type=checkbox]
          display: none

      label
        box-sizing: border-box
        -webkit-transition: border 0.2s linear
        transition: border 0.2s linear
        position: relative
        display: inline-block
        min-width: 164px
        margin: 0 8px 12px 0
        padding: 13px 30px 13px 43px
        border-radius: 4px
        border: 1px solid $colors.lightGray
        vertical-align: middle
        cursor: pointer
        font-family: $fontFamilyBody
        color: #333
        font-size: 12px
        line-height: 1

      label:hover
        border: 1px solid
        themeBorderColor('accent')

      label:after
        -webkit-transition: background 0.2s linear
        transition: background 0.2s linear
        position: absolute
        top: 50%
        right: 8px
        z-index: 1
        display: block
        margin-top: -7px
        width: 16px
        height: 16px
        background: $colors.lightGrayLighten2
        border-radius: 4px
        content: ''

      label:before
        -webkit-transition: opacity 0.2s linear
        transition: opacity 0.2s linear
        position: absolute
        top: 50%
        right: 13px
        z-index: 2
        display: block
        margin-top: -6px
        width: 5px
        height: 9px
        border-right: 1px solid #fff
        border-bottom: 1px solid #fff
        content: ''
        opacity: 0
        -webkit-transform: rotate(45deg)
        -ms-transform: rotate(45deg)
        transform: rotate(45deg)

      input[type=checkbox]:checked + label
        border: 1px solid
        themeBorderColor('accent')

      input[type=checkbox]:checked + label:before
        opacity: 1

      input[type=checkbox]:checked + label:after
        themeBackgroundColor('accent')
